@model DryvDemo.ViewModels.HomeViewModel

<html>
<head>
    <style>
        .field-validation-warning {
            background-color: #FFC000;
        }
    </style>
</head>
<body>
    <form method="post">
        <fieldset>
            @*<div>
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" />
                <span asp-validation-for="Name"></span>
            </div>*@
            <div>
                <label asp-for="Company"></label>
                <input type="text" asp-for="Company" />
                <span asp-validation-for="Company"></span>
            </div>
            <div>
                <label asp-for="TaxId"></label>
                <input type="text" asp-for="TaxId" />
                <span asp-validation-for="TaxId"></span>
            </div>
        </fieldset>
        @*<fieldset>
            <div>
                <input type="checkbox" asp-for="IsAddressVisible" />
                <label asp-for="IsAddressVisible"></label>
            </div>

            <div>
                <label asp-for="PostalCode"></label>
                <input type="text" asp-for="PostalCode" />
                <span asp-validation-for="PostalCode"></span>
            </div>
            <div>
                <label asp-for="City"></label>
                <input type="text" asp-for="City" />
                <span asp-validation-for="City"></span>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <label asp-for="Child.Name2"></label>
                <input type="text" asp-for="Child.Name2" />
                <span asp-validation-for="Child.Name2"></span>
            </div>
            <div>
                <label asp-for="Child.Child.Name3"></label>
                <input type="text" asp-for="Child.Child.Name3" />
                <span asp-validation-for="Child.Child.Name3"></span>
            </div>
        </fieldset>
        <fieldset>
            <input type="hidden" dryv-for="SelectionGroup" />
            <span asp-validation-for="SelectionGroup"></span>

            <div>
                <label asp-for="SelectionA"></label>
                @for (var i = 0; i < Model.SelectionA.Length; i++)
                {
                    <input type="text" asp-for="@Model.SelectionA[i].Name" />
                    <input type="checkbox" asp-for="@Model.SelectionA[i].IsSelected" />
                    <label asp-for="@Model.SelectionA[i].IsSelected">@Model.SelectionA[i].Name</label>
                }
            </div>

            <div>
                <label asp-for="SelectionB"></label>
                @for (var i = 0; i < Model.SelectionB.Length; i++)
                {
                    <input type="text" asp-for="@Model.SelectionB[i].Name" />
                    <input type="checkbox" asp-for="@Model.SelectionB[i].IsSelected" />
                    <label asp-for="@Model.SelectionB[i].IsSelected">@Model.SelectionB[i].Name</label>
                }
            </div>
        </fieldset>*@

        <button type="submit">Absenden</button>
    </form>

    <script>
        function ajax(url, error) {
            console.log(url);
        }
    </script>
    <dryv-script />

    <script type="text/javascript" src="~/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/js/dryv-jquery-unobtrusive.browser.js"></script>
    <script>$.validator.setDefaults({ ignore: null, debug: false });</script>
</body>
</html>