@{
    Layout = "_LayoutLanding";
    this.ViewData["Title"] = "Home";
}
<section class="cards-section text-center">
    <div class="container">
        <h2 class="title">Complex model validation for server and client made easy.</h2>
        <div class="intro">
            <p>Write model validation rules once in your favorite .NET language. <i>Dryv</i> will magically generate JavaScript for client-side validation.</p>
            <div class="cta-container">
                <a title="Download NuGet package" href="https://www.nuget.org/packages?q=dryv">
                    <img alt="Download NuGet package" src="https://badge.fury.io/nu/dryv.svg" />
                </a>
                <a title="Download NPM package" href="https://www.npmjs.com/package/dryv-jquery-unobtrusive">
                    <img alt="Download NPM package" src="https://badge.fury.io/js/dryv-jquery-unobtrusive.svg" />
                </a>
            </div><!--//cta-container-->
        </div><!--//intro-->
        @{
            var items = new[]
            {
                (Title: "Quick Start", Text:"Learn the basic usage of Dryv.", Area: (string)null, Link: (string)null, Controller: "Home", Action:"GettingStarted", Color:"green", Icon:"paper-plane"),
                (Title: "Examples", Text:"See examples of common scenarios with Dryv.", Area: "Examples", Link: (string)null, Controller: "Examples", Action:"Index", Color:"orange", Icon:"eye"),
                (Title: "Documentation", Text:"Read how Dryv works and how to use it.", Area: (string)null, Link: "https://dryv-lib.net/Documentation", Controller: null, Action: null, Color:"blue", Icon:"book"),
                // (Title: "Extending Dryv", Text:"Learn how to extend Dryv to support custom JavaScript frameworks.", Link: "https://dryv-lib.net/Extension", Controller: null, Action: null, Color:"pink", Icon:"puzzle-piece")
            };
        }
        <div id="cards-wrapper" class="cards-wrapper row">
            @foreach (var item in items)
            {
                <div class="item item-@item.Color col-md-4 col-sm-6 col-xs-6">
                    <div class="item-inner">
                        <div class="icon-holder">
                            <i class="icon fa fa-@item.Icon"></i>
                        </div><!--//icon-holder-->
                        <h3 class="title">@item.Title</h3>
                        <p class="intro">@item.Text</p>
                        @if (item.Link == null)
                        {
                            <a class="link" asp-area="@item.Area" asp-controller="@item.Controller" asp-action="@item.Action"><span></span></a>
                        }
                        else
                        {
                            <a class="link" href="@item.Link" target="_blank"><span></span></a>
                        }
                    </div><!--//item-inner-->
                </div>
                <!--//item-->
            }
        </div><!--//cards-->

    </div><!--//container-->
</section><!--//cards-section-->